env/*/.terraform*
env/*/kubeconfig*
env/*/untitled*
provisioning/components/*/variables.tf
provisioning/components/*/local.tf
provisioning/.terraform*
provisioning/.DS_Store
provisioning/kubeconfig*
provisioning/list_resource
provisioning/update_resource
provisioning/backup/


